<section>
    <div class="col-lg-12 col-sm-12 footer-bg">
        <div class="row footer-content">
            <div class="text-center pb-lg-3 pb-2">
                <img src="../../assets/img/home-logo.png" alt="" class="footer-logo">
            </div>
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-1"></div>
                    <div class="col-lg-4 col-md-6 col-10 para">
                        <p class=" text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis
                            pellentesque
                            consectetur convallis vulputate.Lorem ipsum dolor sit amet, consectetur adipiscing elit....
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-3 col-1"></div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-3 links-side"></div>

                    <div class="col-lg-5 col-md-5 col-6">
                        <div class="d-flex social-links">

                            <div class="col-lg-1 text-center">
                                <a href="" class="fb">
                                   <img src="../../assets/img/fb.png" alt="">
                                </a>
                            </div>

                            <div class="col-lg-1 text-center">
                                <a href="" class="social-icon">
                                    <img src="../../assets/img/x.png" alt="">
                                </a>
                            </div>

                            <div class="col-lg-1 text-center">
                                <a href="" class="social-icon">
                                    <img src="../../assets/img/insta.png" alt="">
                                </a>
                            </div>

                            <div class="col-lg-1 text-center">
                                <a href="" class="social-icon">
                                   <img src="../../assets/img/linkedin.png" alt="">
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-3 links-side"></div>
                </div>
            </div>

        </div>
    </div>
</section>