<section id="whychoose">
    <div class="col-lg-12 col-md-12 container-site">
        <div class="row justify-content-between">

            <div class="col-lg-6 col-md-6 choose-content-portion">
                <h2>Why Choose Us</h2>
                <div class="col-lg-6 col-md-7 col-8 mt-lg-2 mt-md-2">
                    <h1 class="pb-lg-2 pb-1">Why Child care providers hub</h1>
                </div>
                <div class="col-lg-12 col-md-6 choose-text-portion">
                    <p class="pt-lg-2 pb-2">Lorem ipsum dolor sit amet consectetur. Cursus turpis tristique sit accumsan.
                        Tincidunt mi nam nec tincidunt non. Eleifend netus enim lectus neque congue. Eros egestas vulputate
                        hendrerit scelerisque ullamcorper. Molestie blandit metus eu mattis sapien ullamcorper aliquet
                        pretium. Condimentum tellus imperdiet scelerisque ante amet felis. Mauris dictumst eu amet egestas
                        in vel lacus. Ipsum dignissim facilisi malesuada neque quam elit sem. Sed nisi augue et pharetra
                        pretium neque. Enim tempor bibendum gravida nibh. Quisque mauris nisi nisl magna vulputate. Fames
                        mattis neque fermentum augue in vitae tortor. Tortor et mi amet elit id integer arcu aliquam.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <img src="../../assets/img/why-choose-us.png" alt="" class="why-choose-img">
            </div>

        </div>
    </div>
</section>