* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'bold';
    font-size: 3.13vw;
    color: var(--black);
    text-transform: capitalize;
    line-height: 48px;
}

h2 {
    font-family: 'mon-semi';
    font-size: 1.05vw;
    color: var(--yellow);
}

p {
    font-family: 'regular';
    font-size: 1.02vw;
    text-transform: capitalize;
    line-height: 1.6vw;
    color: var(--black);
}

.container-site {
    margin-top: 7.9vw;
    padding-left: 3.7vw;
    padding-right: 3.7vw;
    padding-bottom: 6.8vw;
}

.why-choose-img{
    width: 100%;
    height: 33vw;
    object-fit: cover;
}

.choose-content-portion{
    margin-top: 5vw;
}

.choose-text-portion{
    width: 96%;
}

@media only screen and (max-width: 600px) {
    
    h1 {
        font-size: 7vw;
        line-height: 31px;
    }
    
    h2{
        font-size: 3vw;
    }
    
    p {
        font-size: 12px;
        line-height: 17px;
    }

    .container-site {
        padding-left: 4.5vw;
        padding-right: 4.5vw;
        margin-top: 0;
    }

    .choose-text-portion{
        width: 100%;
    }

    .why-choose-img{
        height: 50vw;
    }

    .choose-content-portion{
         margin-top: 3vw;
    }

  }

  @media (min-width: 768px) and (max-width: 991.98px) {

    h1 {
        font-size: 3.2vw;
        line-height: 28px;
    }

    h2{
        font-size: 1.8vw;
    }

    h3 {
        font-size: 1.6vw;
    }

    p {
        font-size: 1.1vw;
        line-height: 1.5vw;
    }
}




