<section>
    <app-dashboard-nav></app-dashboard-nav>
    <div class="lg-12">
        <div class="row">
            <div class="container-site ">
                <h1 >Search Parent</h1>

                <div class="lg-7 md-12 sm-12 search-bars">
                    <div class="d-flex">

                        <div class="lg-5 md-7 sm-5 name-bar">
                            <input type="text" placeholder="Employee Name" class="form-control name-column">
                        </div>
                        <div class="lg-7 md-7 sm-7 search-column">
                            <form class="d-flex" role="search">
                                <input placeholder="Employee date of birth" class="form-control" type="search"
                                    aria-label="Search">
                                <button class="serach-btn" type="submit">
                                    <img src="../../assets/img/search-btn-icon.png" alt="" class="search-icon">
                                    <span class="search-text">search</span>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>

                <h2 >Parent</h2>

                <div class="lg-12 md-12 content-box">
                    <div class="row">
                        

                        <div class="lg-12 md-12 card-box">
                            <div class="row justify-content-between card-padding">
                                <div class="lg-3 md-4 employee-card" *ngFor="let card of cards">

                                    <div class="lg-6 card-img">
                                        <div class="d-flex">
                                            <img [src]="card.imageUrl" alt="Card Image">
                                            <div class="lg-6 card-content">
                                                <h3>{{ card.heading1 }}</h3>
                                                <p class="search-num">{{card.num}}</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-copyright></app-copyright>
</section>