* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@font-face {
    font-family: 'medium';
    src: url('../../assets/fonts/NeueMontreal-Medium.otf');
}



h1,h2,p{
    color: var(--black);
}

h1 {
    font-family: 'bold';
    font-size: 2.6vw;
   
    text-transform: capitalize;
}

h2{
    font-family: 'bold';
    font-size: 1.3vw;
}

h3{
    font-family: 'medium';
    font-size: 0.72vw;
}

p{
    font-size: 0.82vw;
    font-family: "regular";
    line-height: 1vw;
}

.container-site {
    padding-left: 5.2vw;
    padding-right: 5.2vw;
    padding-top: 1.8vw;
    padding-bottom: 4.2vw;
    background-color:var(--light-blue);
    
}

.head-1{
    margin-left: -0.8vw;
}

.content-box {
    padding-top: 1.8vw;
}

.employee-card{
    padding: 0.75vw 1vw 1.7vw;
    background-color: var(--white);
    border-radius: 2.5vw;
    width: 24.3%;
    margin-bottom: 1.8vw;
}

.card-img img{
    height: 6.8vw;
    width: 6.8vw;
    object-fit: fill;
    border-radius: 50%;
    border: 3px solid  var(--yellow)
}

.card-content{
    padding-top: 0.1vw;
    padding-left: 1.2vw;
}

.employee-dob{
    color: var(--gray);
    padding-bottom: 0.5vw;
}

.qualified-para{
    margin-top: 1.3vw;
}

.qualified-sec-para{
    margin-top: 1vw;
}

.qualified-badge{
    background-color: var(--yellow);
    color: var(--white);
    border-radius: 1vw;
    font-family: "regular";
    font-size: 0.55vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    width: 3.5vw;
}

.qualified-head{
    padding-top: 0.3vw;
    padding-bottom: 0.5vw;
}

.para-1{
    margin-top: 0.5vw;
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.8vw;
    line-height: 1.05vw;
}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 5vw;
        line-height: 31px;
    }

    h2 {
        font-size: 4.8vw;
    }

    h3 {
        font-size: 3.2vw;
    }

    p {
        font-size: 2.6vw;
        line-height: 3.2vw;
    }

    .container-site {
        padding-left: 7.5vw;
        padding-right: 7.5vw;
        margin-top: 0;
    }

    .card-width{
        padding: 0vw 2.5vw;
    }

    .employee-card{
        width: 80%;
        padding: 2vw 3vw 1.5vw;
        margin-bottom: 4.5vw;
        border-radius: 6vw;
    }

    .card-img img {
        margin-top: 1.5vw;
        height: 20vw;
        width: 20vw;
        border: 0.5vw solid var(--yellow);
    }

    .card-content{
        padding-left: 0.5vw;
        padding-top: 2vw;
    }

    .qualified-badge{
        font-size: 1.5vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        width: 9.5vw;
        border-radius: 3vw;
    }

    .qualified-para{
        margin-top: 2vw;
    }

    .para-1{
        width: 100%;
        line-height: 3.2vw;
        padding-bottom: 2vw;
    }

    .qualified-sec-para{
        margin-top: 2vw;
        margin-bottom: 1vw;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    h1 {
        font-size: 3.5vw;
    }

    h2 {
        font-size: 3.2vw;
    }

    h3{
        font-size: 1.8vw;
    }

    p {
        font-size: 1.6vw;
        line-height: 1.6vw;
    }

    .container-site{
        padding-bottom: 0;
        padding-left: 6.5vw;
        padding-right: 6.5vw;
        height: 100vh;
    }

    .employee-card{
        width: 48.5%;
        padding: 10px 15px 20px;
    }

    .card-content{
        padding: 0.1vw 2.4vw;
    }

    .card-img img {
        height: 13vw;
        width: 13vw;
    }

    .qualified-badge{
        font-size: 8.8px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        width: 7.5vw;
    }

    .para-1{
        margin-top: 1vw;
        padding-bottom: 1.5vw;
        line-height: 2vw;
    }
}