<app-dashboard-nav></app-dashboard-nav>

<section>
    <div class="lg-12 container-site">

        <div class="head-1">
            <h1>Dashboard</h1>
        </div>

        <div class="lg-12">

            <div class="row box-portion">

                <div class="lg-3 box-width">
                    <a routerLink="/search-employee">
                        <div>
                            <img src="../../assets/img/search-employee.png" alt="" class="Dashboard-img">
                            <h2 class="box-text">search employee</h2>
                        </div>
                    </a>
                </div>

                <div class="lg-3 box-width">
                    <a routerLink="/search-parent">
                        <div>
                            <img src="../../assets/img/search-parent.png" alt="" class="Dashboard-img">
                            <h2 class="box-text">search parent</h2>
                        </div>
                    </a>
                </div>

                <div class="lg-3 box-width">
                    <a routerLink="/finding-qualified">
                        <div>
                            <img src="../../assets/img/finfing-qualified.png" alt="" class="Dashboard-img">
                            <h2 class="box-text">finding qualified</h2>
                        </div>
                    </a>
                </div>

                <div class="lg-3 box-width">
                    <a routerLink="/state-finding">
                        <div>
                            <img src="../../assets/img/State-finding.png" alt="" class="Dashboard-img">
                            <h2 class="box-text">state finding</h2>
                        </div>
                    </a>
                </div>

                <div class="lg-3 box-width">
                    <a routerLink="/hr-comliance">
                        <div>
                            <img src="../../assets/img/hr compliance.png" alt="" class="Dashboard-img">
                            <h2 class="box-text">HR compliance </h2>
                        </div>
                    </a>
                </div>

                <div class="lg-3 box-width">
                    <a routerLink="/additional-info">
                        <div>
                            <img src="../../assets/img/additional-info.png" alt="" class="Dashboard-img">
                            <h2 class="box-text">additional information</h2>
                        </div>
                    </a>
                </div>

            </div>



        </div>

    </div>
</section>
<app-copyright></app-copyright>