* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'bold';
  font-size: 2.6vw;
  color: var(--black);
}

h2 {
  font-family: 'medium';
  font-size: 1.3vw;
  color: var(--black);
  text-transform: capitalize;
  line-height: 25px;
}

.container-site {
  padding-left: 3.65vw;
  padding-right: 3.65vw;
  background-color: var(--light-blue);
  padding-bottom: 4.9vw;
}

.head-1 {
  padding-top: 3.05vw;
  margin-bottom: 0.8vw;
}

.Dashboard-img {
  object-fit: cover;
  width: 6.28vw;
  height: 6.28vw;
  margin-top: 3.5vw;
}

.box-portion {
  margin-left: 0.1%;
}

.box-width {
  width: 24%;
  border-radius: 1vw;
  background-color: var(--white);
  text-align: center;
  margin-bottom: 1%;
  margin-right: 1%;
}

.extra-box {
  margin-left: 1%;
}

.img-box {
  margin-bottom: 1.3vw;
  background-color: var(--white);
  cursor: pointer;
  border-radius: 15px;
}

.box-text {
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;

}

a {
  text-decoration: none;
  color: var(--black);
}

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 6.5vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  .container-site {
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    height: 100vh;
  }

  .head-1 {
    padding-top: 5vw;
    margin-bottom: 5vw;
  }

  .box-width {
    width: 47%;
    border-radius: 3.5vw;
    background-color: var(--white);
    text-align: center;
    margin-bottom: 3%;
    margin-right: 3%;
  }

  .Dashboard-img {
    width: 13vw;
    height: 13vw;
    margin-top: 10vw;
  }

  .box-text {
    padding-top: 3.5vw;
    padding-bottom: 6.5vw;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 3.5vw;
  }

  .container-site {
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    height: 100vh;
  }

  .head-1 {
    padding-top: 3vw;
    margin-bottom: 3vw;
  }

  .box-width {
    width: 47%;
    border-radius: 2.5vw;
    background-color: var(--white);
    text-align: center;
    margin-bottom: 3%;
    margin-right: 3%;
  }

  .Dashboard-img {
    width: 13vw;
    height: 13vw;
    margin-top: 10vw;
  }

  .box-text {
    padding-top: 3.5vw;
    padding-bottom: 5.5vw;
  }

}