<section id="home">
    <div class="lg-12">
        <div class="row">

            <div class="home-bg">

                <div class="lg-12 md-12 sm-12 container-site mb-lg-2 mb-2">
                    <div class="display justify-content-between">

                        <div class="lg-3 md-3 sm-8 logo mt-lg-2">
                            <img src="../../assets/img/home-logo.png" alt="" class="home-logo">
                        </div>

                        <div class="lg-3 md-3 sm-12 ">
                            <form class="d-flex search-bar" role="search">
                                <input class="form-styling" type="text" placeholder="Search..." aria-label="Search">
                            </form>
                        </div>

                    </div>
                </div>

                <div class="lg-12 md-12 sm-12">
                    <nav class="navbar navbar-expand-lg">
                        <div class="lg-12 md-12 sm-12 right-site d-flex justify-content-between">

                            <div class="lg-9 md-7 sm-6 collapse navbar-collapse" id="navbarScroll">
                                <ul class="navbar-nav navbar-nav-scroll">

                                    <button class="navbar-toggler toggle-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <li class="nav-item">
                                        <a class="nav-link" href="#home">
                                            <span class="nav-text">Home</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#about" class="nav-link"><span class="nav-text">About Us</span></a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="#whychoose"><span class="nav-text">Why
                                                Choose Me</span></a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="#service"><span
                                                class="nav-text border-right">Service</span></a>
                                    </li>

                                </ul>
                            </div>

                            <div class="lg-3 md-3 sm-12 right-links">
                                <ul class="d-flex">
                                    <li class="nav-item ">
                                        <a routerLink="/register" class="nav-link right-register" href="#">
                                            <span class="nav-text">Register</span>
                                        </a>
                                    </li>

                                    <li class="nav-item login-nav-item">
                                        <a routerLink="/login-form" class="nav-link" href="#">
                                            <span class="nav-text ">
                                                <img src="../../assets/img/profile-icon.png" alt=""
                                                    class="login-img me-lg-2">Login
                                            </span>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </nav>

                </div>

                <div class="lg-12 sm-12 container-site">
                    <div class="row">
                        <div class="lg-5 sm-8 head-width">
                            
                            <h1 class="head-1">Welcome To Child Care Providers Hub</h1>
                            
                            <div class="lg-11">
                                <p class="para-1">Lorem ipsum dolor sit amet consectetur. Suspendisse porta venenatis
                                    volutpat faucibus. Enim amet sagittis massa pellentesque. </p>
                            </div>

                            <div class="home-btn">
                                <a> 
                                    <span class="home-btn-text">Get Started</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>